%section.sign_in.container
  .row
    .col-sm-6.col-sm-offset-3
      = bootstrap_form_tag url: '/sign_in' do |f|
        %header
          %h1.text-center Sign In
        %fieldset
          = f.email_field :email, hide_label: true, placeholder: "Email"
          = f.password_field :password, hide_label: true, placeholder: "Password"
          = f.form_group do
            = f.submit "Sign In", class: "btn btn-success btn-block"
        %p.text-center
          = link_to "Forgot Password?", forgot_password_path
        %p.text-center
          Need to create an account?
          = link_to "Register", register_path  



      