%section.sign_in.container
  .row
    .col-sm-10.col-sm-offset-1
      = form_tag sign_in_path do
        %header
          %h1 Sign In
        %fieldset
          .form-group
            = label_tag :email, "Email Address"
            .row
              .col-sm-4
                = email_field_tag :email, nil, class: "form-control"
          .form-group
            = label_tag :password, "Password"
            .row
              .col-sm-4
                = password_field_tag :password, nil, class: "form-control"
        %fieldset.form-group.action
          = submit_tag "Sign in", class: "btn btn-default"