%section.sign_in.container
  .row.col-sm-10.col-sm-offset-1

    = bootstrap_form_tag url: '/sign_in', layout: :horizontal do |f|
      %header
        %h1.text-center Sign In
      = f.email_field :email
      = f.password_field :password
      = f.form_group do
        = f.submit "Sign In"

    