%section.sign_in.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_tag(url: sessions_path, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-4") do |f|
        %header
          %h1 Sign In
        = f.email_field :email
        = f.password_field :password
        = f.form_group do
          = f.submit
        = link_to "Forgot Password?", forgot_password_path
