%section.sign_in.container
  .row
    .col-sm-10.col-sm-offset-1
      = form_tag sessions_path, class: 'sign_in form-horizontal' do
        -# %header
        -#   %h1 Sign in
        %fieldset
          .control-group
            .row
              .col-sm-4
                = label_tag :email, "Email Address"
                = email_field_tag :email, nil, clss: "form-control"
          .control-group
            .row
              .col-sm-4
                = label_tag :password
                = password_field_tag :password, nil, clss: "form-control"
        %fieldset.action
          %input(type="submit" value="Sign in" class="btn btn-default")

