%section.sign_in.container
  .row
    .span10.offset1
      = form_tag sessions_path, class: 'sign_in' do
        %header
          %h1 Sign in
        %fieldset
          = label_tag :email, "Email Address"
          = email_field_tag :email
          = label_tag :password
          = password_field_tag :password
        %fieldset.action
          %input(type="submit" value="Sign in" class="btn")
          = link_to "Forgot Password?", forgot_password_path
