%section.sign_in.container
  .row
    .col-sm-10.col-sm-offset-1
      %header
        %h1 Sign in
      = form_tag '/login'do |f|
        .clearfix
          = label_tag :email
          = text_field_tag :email
          = label_tag :password
          = password_field_tag :password
          = submit_tag "Login", class: 'btn btn-default'