%section.reset_password.container
  .row
    .col-sm-10.col-sm-offset-1
      = form_tag password_resets_path do
        %header
          %h1 Reset Your Password
        %fieldset.form-group
          = hidden_field_tag :token, @user.token 
          .row
            .col-sm-4
              = label_tag :password, "New password"
          .row
            .col-sm-4              
              = password_field_tag :password
          .row
            .col-sm-4              
              = label_tag :password_confirmation, "Password confirmation"
          .row
            .col-sm-4              
              = password_field_tag :password_confirmation
        %fieldset.form-group.action
          %input(type="submit" value="Reset Password" class="btn btn-default")