!!! 5
%html(lang="en-US")
  %head
  %body
    %section.content.clearfix
      %p= "Hi #{ @friend_name },"
      %p= "#{ @inviter.full_name } would like to see you on MyFlix"
      %p= "Sign up easily with this link:"
      = link_to 'Join', invited_registration_url(friend_name: @friend_name, friend_email: @friend_email, token: @token)
    %footer
      &copy 2013 MyFLiX
