%section.my_queue.container
  .row
    .col-sm-10.col-sm-offset-1
      %article
        %header
          %h2 My Queue
        = form_tag update_all_queue_items_path do            
          %table.table
            %thead
              %tr
                %th(width="10%") List Order
                %th(width="30%") Video Title
                %th(width="10%") Play
                %th(width="20%") Rating
                %th(width="15%") Genre
                %th(width="15%") Remove
            %tbody
              - @queue_items.each_with_index do |queue_item, index|
                %tr
                  %td
                    / = text_field_tag "queue_items[#{queue_item.id}]", queue_item.position
                    = hidden_field_tag "queue_items[][id]", queue_item.id
                    = text_field_tag "queue_items[][position]", queue_item.position, id: "queue_item_#{index + 1}", data: {video_id: queue_item.video.id}
                  %td
                    = link_to "#{queue_item.video.title}", video_path(queue_item.video)
                  %td
                    = button_to "Play", nil, class: "btn"
                  %td
                    = select_tag "queue_items[][rating]", options_for_video_reviews( queue_item.rating.to_i),include_blank: true, class: 'form-control'
                  %td
                    = link_to queue_item.video.category.name, queue_item.video.category
                  %td
                    = link_to queue_item, method: :delete do
                      %i.glyphicon.glyphicon-remove
          = submit_tag "Update Instant Queue", class: 'btn btn-default'  
         
