= bootstrap_form_for(@user,  layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-6") do |f|
  %header
    %h1 Register
  = f.email_field :email, label: "Email Address"
  = f.password_field :password

  = f.password_field :password_confirmation, label: "Confirm Password"
  = f.text_field :full_name
  = f.form_group do
    = f.submit 'Sign Up'
