%section.register.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for(@user, layout: :horizontal, html: {class: "form-horizontal"} ) do |f|
        %fieldset
          %header
            %h1 Register
          = f.alert_message "Please correct the following errors:"
          .form-group
            .control-label.col-sm-2
              = f.label :email, "Email Address"
            .col-sm-6
              = f.text_field :email, hide_label: true, class: "form-control"
          .form-group
            %label.control-label.col-sm-2
              = f.label :password, "Password"
            .col-sm-6
              = f.password_field :password, hide_label: true, class: "form-control"
          .form-group
            %label.control-label.col-sm-2
              = f.label :full_name, "Full Name"
            .col-sm-6
              = f.text_field :full_name, hide_label: true, class: "form-control"
          %fieldset.actions.control-group.col-sm-offset-2
            .controls
              %input(type="submit" value="Register" class="btn btn-default")