%section.register.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for @user, layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-6' do |f|
        %header
          %h1 Register
        %fieldset
          .form-group
            = f.text_field :username
          .form-group
            = f.text_field :full_name, label: "Full Name", value: @friend_name
          .form-group
            = f.text_field :email, label: 'Email Address', value: @friend_email
          .form-group
            = f.password_field :password
          .form-group
            = f.password_field :password_confirmation, label: 'Password Confirmation'
            = hidden_field_tag :token, @token
        %fieldset.credit_card
          .form-group
            %script(src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="#{ Rails.application.secrets.stripe_pub_key }" data-name="Myflix Sign Up Charge" data-description="$9.99/m for unlimted access!" data-amount="999")
