= content_for :head do
  %script(type="text/javascript" src="https://js.stripe.com/v2/")
  :javascript
    Stripe.setPublishableKey("#{ENV['STRIPE_PUBLISHABLE_KEY']}")
  = javascript_include_tag "payments"

%section.register.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for @user, layout: :horizontal, control_col: "col-sm-4", html:{ id: "payment-form" } do |f|
        %header.actions
          %h1 Register
        %fieldset
          = f.email_field :email, label: "Email Address"
          = f.password_field :password
          = f.text_field :fullname, label: "Full Name"
          = hidden_field_tag :invite_token, @invite_token
        %fieldset.credit_card
          .alert.alert-danger.payment-errors
          .form-group
            %label.control-label.col-sm-2 Credit Card Number
            .col-sm-4
              %input.form-control(type="text" data-stripe="number")
          .form-group
            %label.control-label.col-sm-2 Security Code
            .col-sm-4
              %input.form-control(type="text" data-stripe="cvc")
          .form-group
            %label.control-label.col-sm-2 Expiration
            .col-sm-3
              = select_month(Date.today, {add_month_numbers: true}, name: nil, class: 'form-control', data: { stripe: "exp-month" })
            .col-sm-2
              = select_year(Date.today.year, {start_year: Date.today.year, end_year: Date.today.year + 4}, name: nil, class: 'form-control', data: { stripe: "exp-year" })
          %fieldset.actions.control-group.col-sm-offset-2
            .controls
              %input(type="submit" value="Sign Up" class="btn btn-default" id="payment_submit")