= content_for :head do
  %script{ type: "text/javascript", src:"https://js.stripe.com/v2/"}
  %script{ type: "text/javascript" }
    Stripe.setPublishableKey('#{ set_stripe_pub_key }');
  = javascript_include_tag 'payments'

%section.register.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for @user, layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-6' do |f|
        %header
          %h1 Register
        %fieldset
          .form-group
            = f.text_field :username
          .form-group
            = f.text_field :full_name, label: "Full Name", value: @friend_name
          .form-group
            = f.text_field :email, label: 'Email Address', value: @friend_email
          .form-group
            = f.password_field :password
          .form-group
            = f.password_field :password_confirmation, label: 'Password Confirmation'
            = hidden_field_tag :token, @token
        %fieldset.credit_card
          %span.payment-errors
          .form-group
            %label.control-label.col-sm-2 Credit Card Number
            .col-sm-6
              = text_field_tag :card_number, nil, name: nil, class: 'form-control', data: {stripe:'number'}
          .form-group
            %label.control-label.col-sm-2 Security Code
            .col-sm-6
              = text_field_tag :card_cvc, nil, name: nil, class: 'form-control', data: {stripe:'cvc'}
          .form-group
            %label.control-label.col-sm-2 Expiration
            .col-sm-3
              = select_month(Date.today, {add_month_numbers: true}, id: 'card-expiry-month', name: nil, class: 'form-control', data: { stripe: 'exp-month' })
            .col-sm-2
              = select_year(Date.today.year, {start_year: Date.today.year, end_year: Date.today.year + 4}, id: 'card-expiry-year', name: nil,  class: 'form-control', data: { stripe: 'exp-year' })
        %fieldset.actions.control-group.col-sm-offset-2
          .controls
            %input(type="submit" value="Sign Up" class="btn btn-default")
