%section.register.container
  .row
    .col-sm-6.col-sm-offset-3
      = bootstrap_form_for(@user) do |f|
        %header
          %h1.text-center Register
        %fieldset
          = f.email_field :email, hide_label: true, placeholder: "Email"
          = f.password_field :password, hide_label: true, placeholder: "Password"
          = f.text_field :name, hide_label: true, placeholder: "What's your name?"
          = hidden_field_tag :invitation_token, @invitation_token 
          = f.form_group do
            = f.submit "Sign Up", class: "btn btn-success btn-block"
          %p.text-center 
            Already registered? 
            = link_to "Sign in here", sign_in_path

