<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<script type="text/javascript">
Stripe.setPublishableKey("#{ENV['STRIPE_PUBLISHABLE_KEY']}");
</script>

= javascript_include_tag 'payment'

%section.register.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for(@user, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-4", :html => {:id => "payment-form"} ) do |f|
        %header
          %h1 Register
        %fieldset
          = f.email_field :email, label: "Email Address"
          = f.password_field :password
          = f.text_field :full_name, label: "Full Name"
          = hidden_field_tag :token, @invitation_token
        %fieldset.credit_card
          %span.payment-errors
            .form-group
              %label.control-label.col-sm-2(for="credit-card-number") Credit Card Number
              .col-sm-6
                %input.form-control#credit-card-number(type="text" data-stripe="number")
            .form-group
              %label.control-label.col-sm-2(for="security-code") Security Code
              .col-sm-6
                %input.form-control#security-code(type="text" data-stripe="cvc")
            .form-group
              %label.control-label.col-sm-2 Expiration
              .col-sm-3
                = select_month(Date.today, {add_month_numbers: true},  class: 'form-control', data: {stripe: "exp-month"})
              .col-sm-2
                = select_year(Date.today.year, {start_year: Date.today.year, end_year: Date.today.year + 4}, class: 'form-control', data: {stripe: "exp-year"})
        %fieldset.actions.control-group.col-sm-offset-2
          .controls
            %input(type="submit" value="Sign Up" class="btn btn-default")