%section.user.container
  .row
    .col-sm-10.col-sm-offset-1
      %article
        %header
          %img(src="http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(@user.email.downcase)}?s=40")
          %h2 #{@user.full_name}'s video collections (#{@user.queue_items.count})
          - if current_user.can_follow?(@user)
            = link_to 'Follow', relationships_path(leader_id: "#{@user.id}"), method: :post, class: 'button btn btn-default', style: 'float: right'
          - elsif current_user != @user
            = link_to 'Unfollow', relationship_path(Relationship.find_by_user_and_leader(current_user, @user)), method: :delete, class: 'button btn btn-default', style: 'float: right'
        %table.table
          %thead
            %tr
              %th(width="30%") Video Title
              %th(width="15%") Genre
          %tbody
            - @user.queue_items.each do |item|
              %tr
                %td
                  = link_to "#{item.video.title}", item.video
                %td
                  = link_to "#{item.video.category.name}", item.video.category

%section.user_reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      %header
        %h3 #{@user.full_name}'s Reviews (#{@user.reviews_with_rating.count})
      %ul
        - @user.reviews_with_rating.each do |review|
          %article.review
            %li.row
              .col-sm-2
                %p
                  = link_to "\"#{review.video.title}\"", review.video
                %col Rating: #{review.rating} / #{Review.valid_ratings.max}
              .col-sm-8
                %p #{review.body}
