%section.user.container
  .row
    .col-sm-10.col-sm-offset-1
      %article
        %header
          %img(src="#{@user.avatar_url}")
          %h2 #{@user.full_name}'s video collections (#{@user.queue_items.count})
          - if @user != current_user && current_user.following_users.exclude?(@user)
            %button.btn.btn-default= link_to "Follow", follow_user_path(@user), method: :post
        %table.table
          %thead
            %tr
              %th(width="30%") Video Title
              %th(width="15%") Genre
          %tbody
            - @user.queue_items.each do |queue_item| 
              %tr
                %td
                  = link_to queue_item.video.title, queue_item.video
                %td
                  = link_to queue_item.video.categories.first.name, queue_item.video.categories.first

%section.user_reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      %header
        %h3 #{@user.full_name}'s Reviews (#{@user.reviews.count})
      %ul
        - @user.reviews.each do |review|
          %article.review
            %li.row
              .col-sm-2
                %p
                  = link_to review.video.title, review.video
                %col Rating: #{review.rating} / 5
              .col-sm-8
                %p= review.content
