%section.user.container
  .row
    .col-sm-10.col-sm-offset-1
      %article
        %header
          %img(src="http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(@user.email.downcase)}?s=40")
          %h2 #{@user.fullname} video collections (#{@user.queue_items.count})
          = link_to "Follow", followings_path(followed_user_id: @user.id), method: :post, class: "btn btn-default" if current_user.can_follow?(@user)
        %table.table
          %thead
            %tr
              %th(width="30%") Video Title
              %th(width="15%") Genre
          %tbody
            - @user.queue_items.each do |item|
              %tr
                %td
                  = link_to item.video_title, video_path(item.video)
                %td
                  = link_to item.category.name, category_path(item.category)

%section.user_reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      %header
        %h3 #{@user.fullname} Reviews (#{@user.reviews.count})
      %ul
        - @user.reviews.each do |review|
          %article.review
            %li.row
              .col-sm-2
                %p
                  = link_to review.video.title
                %col Rating: #{review.rating.to_i} / 5
              .col-sm-8
                = review.body