%article.video_category
  %header
    %h3
      = link_to "TV Commedies"
  .videos.row
    - @videos.limit(6).each do |a|
      .video.col-sm-2
        = link_to video_path(a), nil do
          - if a.title == "Futurama"
            %img(src="/tmp/#{'futurama'}.jpg") 
          - if a.title == "South Park"
            %img(src="/tmp/#{'south_park'}.jpg")
          - if a.title == "Family Guy"
            %img(src="/tmp/#{'family_guy'}.jpg")

%article.video_category
  %header
    %h3= link_to "TV Dramas"
  .videos.row
    - @videos.limit(6).each do |a|
      .video.col-sm-2
        = link_to video_path(a), nil do
          - if a.title == "Futurama"
            %img(src="/tmp/#{'futurama'}.jpg") 
          - if a.title == "South Park"
            %img(src="/tmp/#{'south_park'}.jpg")
          - if a.title == "Family Guy"
            %img(src="/tmp/#{'family_guy'}.jpg")

%article.video_category
  %header
    %h3= link_to "Reality TV"
  .videos.row
    - @videos.limit(6).each do |a|
      .video.col-sm-2
        = link_to video_path(a), nil do
          - if a.title == "Futurama"
            %img(src="/tmp/#{'futurama'}.jpg") 
          - if a.title == "South Park"
            %img(src="/tmp/#{'south_park'}.jpg")
          - if a.title == "Family Guy"
            %img(src="/tmp/#{'family_guy'}.jpg")
