%article.video_category
  %header
    %h3
      = link_to "#{@comedy_obj.name}", comedies_path(@comedy)
  .videos.row
    - @comedy.limit(6).each do |a|
      .video.col-sm-2
        = link_to image_tag("#{a.small_cover}"), video_path(a)
          

%article.video_category
  %header
    %h3
      = link_to "#{@drama_obj.name}", dramas_path(@drama)
  .videos.row
    - @drama.limit(6).each do |a|
      .video.col-sm-2
        = link_to image_tag("#{a.small_cover}"), video_path(a)

%article.video_category
  %header
    %h3
      = link_to "#{@reality_obj.name}", realities_path(@reality)
  .videos.row
    - @reality.limit(6).each do |a|
      .video.col-sm-2
        = link_to image_tag("#{a.small_cover}"), video_path(a)
