




%header
- Category.all.each do |category|
  .category_section
    = link_to category_path(category), nil do
      %h1.category_title
        =category.name.capitalize
    .videos.row
      - category.recent_videos.each do |video|
        .video.col-sm-2
          / = link_to video_path(video), nil, do
          = link_to video_path(video),  id: "video_#{video.id}" do
            %img{src: "#{video.small_cover_url}", alt: "#{video.title}"}
            / %img(src: "#{video.small_cover_url}", alt: "#{video.title}")
       

