%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        %img(src="/tmp/monk_large.jpg")
      .video_info.col-sm-3
        %header
          %h3 
            = @video.title
          %span Rating: #{@video.rating}
        %p 
          = @video.description
        .actions
          %a.btn.btn-primary(href="") Watch Now
           
          = link_to '+ My Queue', my_queue_videos_path(video_id: @video.id ), method: :post, class: 'btn btn-default'

%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for([@video, @review]) do |f|
        %fieldset  
          .row        
            .col-sm-3
              = f.select :rating, [['1 Star', '1'], ['2 Star', 2], ['3 Star', 3], ['4 Star', 4], ['5 Star', 5]], { label: "Rate this video:" }, { class: "selectpicker" } 
          .row  
            .col-sm-8  
              = f.text_area :body, placeholder: 'Leave review here...',label: "Write Review", rows: '6'
              = f.submit 'Submit', class: 'btn'


  %header
    %h3 
      User Reviews (#{@video.nr_of_reviews})
    %ul
      - @video.reviews.each do |review|
        %article.review
          %li.row
            .col-sm-2
              %span
                Rating: #{review.rating.to_s} / 5
              %p 
                by #{link_to review.user.name, user_path(review.user)}             
            .col-sm-8
              %p 
                = review.body