%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        %img(src="#{@video.large_cover_url}")
      .video_info.col-sm-3
        %header
          %h3= @video.title
          %span Rating: 
        %p= @video.description
        .actions
          %a.btn.btn-primary(href="") Watch Now
          = link_to "+ My Queue", queue_items_path(video_id: @video.id), method: :post, class: "btn btn-default"

%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for [@video, @review] do |f|
        %fieldset
          .form-group
            .row
              .col-sm-3
                = f.select :rating, [["5 Stars", 5], ["4 Stars", 4], ["3 Stars", 3], ["2 Stars", 2], ["1 Star", 1]], { label: "Rate this video" }
          .form-group
            .row
              .col-sm-8
                = f.text_area :content, rows: 6, label: "Write Review"
        %fieldset.form-group.actions.clearfix
          = f.submit "Submit", class: "btn btn-primary"
      %header
        %h3 User Reviews (#{@reviews.count})
      %ul
        - @reviews.each do |review|
          %article.review
            %li.row
              .col-sm-2
                %span Rating: #{review.rating} / 5
                %p by #{review.reviewer.full_name}
              .col-sm-8
                %p= review.content
