%article.video
  .container-fluid
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        %img.img-responsive(src="#{@video.large_cover_url}")
      .video_info.col-sm-3
        %header
          %h3= @video.title
          %span Rating: 4.5/5.0
        %p= @video.description
        .actions
          %a.btn.btn-primary(href="") Watch Now
          = link_to "+ My Queue", queue_items_path(video_id: @video.id), method: :post, class: "btn btn-default" unless current_user.queued_video?(@video)

%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      = form_for [@video, Review.new] do |f|
        %fieldset
          .form-group
            %label Rate video
            = f.select :rating, options_for_video_reviews
          .form-group
            %label Write a review
            .row
              .col-sm-8
                = f.text_area :content, rows: 6, class: "form-control"
        %fieldset.form-group.actions.clearfix
          %input(type="submit" value="Submit" class="btn btn-default")
          = link_to "Cancel", @video
      %header
        %h3 User Reviews (#{@reviews.count})
      %ul
        - @reviews.each do |review|
          %article.review
            %li.row
              .col-sm-2
                %span Rating: #{review.rating} / 5
                %p 
                  by 
                  = link_to "#{review.user.name}", user_path(review.user)
              .col-sm-8
                %p #{review.content}
