%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        %img(src="#{@video.large_cover_url}")
      .video_info.col-sm-3
        %header
          - title = @video.title
          %h3 #{title}
          %span Rating: #{@video.average_rate(@video)}/5.0
        %p= @video.description 
        .actions
          %a.btn.btn-primary(href="") Watch Now
          %a.btn.btn-default(href="") + My Queue

%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      = form_for [@video, Review.new] do |f|
        %fieldset
          %label Rate this video
          = f.select :rate, options_for_select([5,4,3,2,1,].map {|number| [pluralize(number, "Star")]})
          %label Write Review
          = f.text_area :content , rows: 6, class: "span6"
        %fieldset.actions.clearfix
          %input(type="submit" value="Submit" class="btn")
          = link_to "Cancel", @video 
      %header
        %h3 User Reviews (#{@reviews.count})
      %ul
        - @reviews.each do |review| 
          %article.review
            %li.row
              .col-sm-2
                %span Rating: #{review.rate} / 5
                %p by <a href="">#{review.user.full_name}</a>
              .col-sm-8
                %p #{review.content}
