%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        %img(src="http://dummyimage.com/665x375/000000/00a2ff")
      .video_info.col-sm-3
        %header
          %h3 Futurama
          %span Rating: #{@avg_rating}
        %p Pizza boy Philip J. Fry awakens in the 31st century after 1,000 years of cryogenic preservation in this animated series. After he gets a job at an interplanetary delivery service, Fry embarks on ridiculous escapades to make sense of his predicament.
        .actions
          %a.btn.btn-primary(href="") Watch Now
          %a.btn.btn-default(href="") + My Queue

%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      %header
        %h3 User Reviews (#{@reviews.count})
      %ul
        - @reviews.each do |review|
          %article.review
            %li.row
              .col-sm-2
                %span Rating: #{review.rating} / 5
                %p by <a href="">#{review.user.full_name}</a>
              .col-sm-8
                %p= review.content
