%article.video
  .container
    .row
      .video_large_cover.col-sm-6.col-sm-offset-1
        = image_tag("#{@video.large_cover}")
      .video_info.col-sm-3.col-md-push-2
        %header
          %h3 
            = @video.title
          %span 
            = @video.average_rating
        %p 
          = @video.description
        .actions
          %a.btn.btn-primary(href="") Watch Now
          = link_to "+ My Queue", queue_items_path(video_id: @video.id), method: :post, class: "btn btn-primary" unless current_user.queued_item?(@video)

%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      = form_for [@video, @review] do |f|
        = f.select :rating, options_for_select([5,4,3,2,1].map {|number| [pluralize(number, "Star")]})
        %label Write Review
        .row
          .col-sm-10.col-sm-offset-1
            = f.text_area :content, rows: 10, class: "span10"
            = f.submit
            = link_to "Cancel", @video
  %header
    %h3 
      User Reviews #{"#{@video.reviews.count}"}
  %ul
    - @reviews.each do |vid|
      %article.review
        %li.row
          .col-sm-2
            %span 
              = "#{vid.rating}"
            %p 
              = link_to "#{vid.user.full_name}", user_path(vid.user)
          .col-sm-8
            %p 
              = "#{vid.content}"