%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        %img{:src => "/#{@video.large_cover_url}", :width => "665", :height => "375"}
      .video_info.col-sm-3
        %header
          %h3= @video.title
          %span Rating: #{@video.average_rating}/5.0
        %p= @video.description

%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for [@video, @review] do |f|
        %fieldset
          .row
            .col-sm-3
              .form-group
              = f.select :rating, options_for_select([5,4,3,2,1].map {|number| [pluralize(number, "Star")]}), label: "Rate this Video"
          .row
            .col-sm-8
              .form-group
              = f.text_area :body, rows: 6, label: "Write Review"
        %fieldset.actions.clearfix
          %input(type="submit" value="Submit" class="btn")
          = link_to 'Cancel', video_path(@video)
      %header
        %h3 User Reviews (#{@video.reviews.count})
      %ul
        - @video.reviews.each do |review|
          %article.review
            %li.row
              .col-sm-2
                %span Rating: #{review.rating} / 5
                %p
                  by
                  = link_to review.user.full_name, "#"
              .col-sm-8
                %p #{review.body}
