%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        %img(src="#{@video.big_cover_url}")
      .video_info.col-sm-3
        %header
          %h3= @video.title
          %span= "Rating: #{@video.averge_rating}/5.0"
        %p= @video.description
        .actions
          %a.btn.btn-primary(href="") Watch Now
          - unless video_is_in_my_queue 
            = link_to "+ My Queue", queues_path(id: @video.id), method: "post", class: "btn btn-default"

%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      =render 'reviews/rating' 
      %header
        %h3= "User Reviews (#{@video.reviews.count})"
      %ul
        - @video.reviews.each do |f|
          %article.review
            %li.row
              .col-sm-2
                %span= "Rating: #{f.rating} / 5"
                %p= raw "by #{link_to f.user.name, root_path}"
              .col-sm-8
                %p= f.review_description 
