%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        %img{ src: @video.large_cover_url }
      .video_info.col-sm-3
        %header
          %h3= @video.title
          %span Rating: #{@video.average_rating}/5.0
        %p= @video.description
        .actions
          =link_to 'Watch Now', '#', class: 'btn btn-primary'
          =link_to '+ My Queue', '#', class: 'btn btn-default'

%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for [@video, Review.new] do |f|
        %fieldset
          .row
            .col-sm-3
              = f.select :rating, options_for_select([5,4,3,2,1].map {|number| [pluralize(number, 'Star')]}), {}, label: 'Rate it!'
          .row
            .col-sm-8
              = f.text_area :content, label: 'Write Review'
        %fieldset.form-group.actions.clearfix
          = f.submit 'Submit', class: 'btn'
          %a{ href: video_path(@video) } Cancel

      %header
        %h3 User Review (#{@video.reviews.count})
      %ul
        - @video.reviews.each do |review|
          %li.row
            %article.review
              .col-sm-2
                %span Rating: #{review.rating} / 5 
                %p by <a href=''>#{review.user.full_name}</a>
              .col-sm-8
                %p= review.content
