%article.video
  .container
    .row
      .video_large_cover.span7.offset1
        %img(src="#{@video.large_cover_url}")
      .video_info.span3
        %header
          %h3= @video.title
        %p= @video.description
        .actions  
          = link_to "+ My Queue", queue_items_path(video_id: @video.id), method: :post, class: 'btn' unless  current_user.queued_video?(@video)

%section.reviews.container
  .row
    .span10.offset1
      = form_for [@video, Review.new] do |f|
        %fieldset
          %label Rate this video
          = f.select :rating, options_for_video_reviews 
          %label Write Review
          = f.text_area :content, rows: 6, class: "span6"
          %textarea.span6(name="" rows="6")
        %fieldset.actions.clearfix
          %input(type="submit" value="Submit" class="btn")
          = link_to "Cancel", @video
      %header
        %h3 User Reviews (#{@reviews.count})
      %ul
        - @reviews.each do |review|
          %article.review
            %li.row
              .span2
                %span Rating: #{review.rating} / 5
                %p 
                by 
                = link_to review.user.full_name, review.user
              .span8
                %p= review.content
