%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        %img(src="#{@video.large_cover_url}")
      .video_info.col-sm-3
        %header
          %h3= @video.title
          %span= "Rating: " + @video.calculate_rating.to_s
        %p= @video.description 
        .actions
          %a.btn.btn-primary(href="") Watch Now
          %a.btn.btn-default(href="") + My Queue

%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      = form_for [@video, @review] do |f|
        %fieldset
          .form-group
            %label Rate this video
            .row
              .col-sm-3
                = f.select :rating, options_for_select([5,4,2,3,1].map {|number| [pluralize(number, "Star")]})
          .form-group
            %label Write Review
            .row
              .col-sm-8
                = f.text_area :body, rows: 6, cols: 100
        %fieldset.form-group.actions.clearfix
          %input(type="submit" value="Submit" class="btn")
          = link_to "Cancel", @video
      %header
        %h3 User Reviews (#{@video.reviews.size})
      - @video.reviews.each do |review|
        %ul
          %article.review
            %li.row
              .col-sm-2
                %span Rating: #{review.rating.to_i.to_s} / 5
                %p= "by #{link_to review.creator.fullname}".html_safe
              .col-sm-8
                %p= review.body
