%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        %img(src="http://dummyimage.com/665x375/000000/00a2ff")
      .video_info.col-sm-3
        %header
          %h3 Futurama
          %span Rating: #{@avg_rating}
        %p Pizza boy Philip J. Fry awakens in the 31st century after 1,000 years of cryogenic preservation in this animated series. After he gets a job at an interplanetary delivery service, Fry embarks on ridiculous escapades to make sense of his predicament.
        .actions
          %a.btn.btn-primary(href="") Watch Now
          %a.btn.btn-default(href="") + My Queue

%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      %fieldset
        = bootstrap_form_for(@review) do |f|
          .row
            .col-sm-3
              = f.select :rating, options_for_select([[ "5 Stars", 5 ], [ "4 Stars", 4 ], ["3 Stars", 3 ], [ "2 Stars", 2 ], [ "1 Star", 1 ]])
          .form-group.row
            .col-sm-8
              = f.text_area :content, label: "Write Review", rows: "6"
          %fieldset.form-group.actions.clearfix
            =f.form_group do
              = f.submit "Submit", class: "btn"
              %a(href="") Cancel
      %header
        %h3 User Reviews (#{@reviews.count})
      %ul
        - @reviews.each do |review|
          %article.review
            %li.row
              .col-sm-2
                %span Rating: #{review.rating} / 5
                %p by <a href="">#{review.user.full_name}</a>
              .col-sm-8
                %p= review.content
