%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        = image_tag @video.large_cover_url
      .video_info.col-sm-3
        %header
          %h3= @video.name.titleize
          %span Rating: 4.5/5.0
        %p= @video.description
        .actions
          %button.btn.btn-primary= link_to "Watch Now"
          %button.btn.btn-default= link_to "+ My Queue"
