%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        %img(src="#{@video.large_cover}")
      .video_info.col-sm-3
        %header
          %h3= @video.title
          %span= "Rating: " + @video.calculate_rating.to_s
        %p= @video.description 
        .actions
          %a.btn.btn-primary(href="#{@video.video_url}") Watch Now
          = link_to "+ My Queue", queue_items_path(video_id: @video.id), method: :post, class: "btn btn-default" unless current_user.video_in_queue?(@video)

%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      = form_for [@video, @review] do |f|
        %fieldset
          .form-group
            %label Rate this video
            .row
              .col-sm-3
                = f.select :rating, video_rating_options, class: "form-control", include_blank: true
          .form-group
            %label Write Review
            .row
              .col-sm-8
                = f.text_area :body, rows: 6, cols: 100
        %fieldset.form-group.actions.clearfix
          %input(type="submit" value="Submit" class="btn")
          = link_to "Cancel", @video
      %header
        %h3 User Reviews (#{@video.reviews.size})
      - @video.reviews.each do |review|
        %ul
          %article.review
            %li.row
              .col-sm-2
                %span Rating: #{review.rating.to_i.to_s} / 5
                %p by #{ link_to review.creator.fullname, user_path(review.creator) }
              .col-sm-8
                %p= review.body
