%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        %img(src="/tmp/#{@video.large_thumb}.jpg")
      .video_info.col-sm-3
        %header
          %h3 #{@video.name}
        %p #{@video.description}
        .actions
          = link_to "+ My Queue", queue_items_path(video_id: @video.id), method: :post, class: 'btn btn-default' unless current_user.queued_video?(@video)

%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      = form_for [@video, Review.new] do |f|
        %fieldset
          .form-group
            %label Rate this video
            = f.select :rating, options_for_video_reviews
          .form-group
            %label Write Review
            = f.text_area :content, rows: 6, class: "span 6"
            .row
        %fieldset.form-group.actions.clearfix
          %input(type="submit" value="Submit" class="btn")
          = link_to "Cancel", @video
          %header
            %h3 User Reviews (#{@reviews.count})
            %ul
              - @reviews.each do |review|
                %article.review
                  %li.row
                    .col-sm-2
                      %span Rating: #{review.rating} / 5
                      %p by <a href="">#{review.user.full_name}</a>
                    .col-sm-8
                      %p= review.content
     
       