%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        %img(src="http://dummyimage.com/665x375/000000/00a2ff")
      .video_info.col-sm-3
        %header
          %h3= @video.title
        %p= @video.description
        .actions
          %a= link_to "+ My Queue", queue_items_path(video_id: @video.id), method: :post, class: 'btn.btn-default'

%section.reviews.container
  .col-sm-10.col-sm-offset-1
    = form_for [@video, Review.new] do |f|
      %fieldset
        %label Rate this video
        %br
        = f.select :rating, options_for_select([5,4,3,2,1].map {|number| [pluralize(number, "Star")]})
        %br
        %label Write Review
        %br
        = f.text_area :content, rows: 8, class: "span8"
      %fieldset.actions.clearfix
        %input(type="submit" value="Submit" class="btn")
        = link_to "Cancel", @video
      %header
        %br
        %h3 User Reviews (#{@reviews.count})
      %ul
        - @reviews.each do |review|
          %article.review
            %li.row
              .col-sm-2
                %span Rating: #{review.rating} / 5
                %p by <a href="">#{review.user.full_name}</a>
              .col-sm-8
                %p= review.content
