%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        %img(src="#{@video.large_cover_url}")
      .video_info.col-sm-3
        %header
          %h3= @video.title
          %span Rating:
          = @video.rating
        %p= @video.description
        .actions
        / %a.btn.btn-primary(href="#{@video.video_url}") Watch Now
/         =link_to "+ My Queue", queue_items_path(video_id: @video.id), method: :post, class: "btn btn-default" unless current_user.queued_video?(@video)