<article class='video'>
  <div class='container'>
    <div class='row'>
      <div class='video_large_cover col-sm-7 col-sm-offset-1'>
        <%= image_tag(@video.large_cover_url) %>
      </div>
      <div class='video_info col-sm-3'>
        <header>
          <h3><%= @video.title %></h3>
          <span>Rating: 4.5/5.0</span>
        </header>
        <p><%= @video.description %></p>
        <div class='actions'>
          <%= link_to 'Watch Now', '#', class: 'btn btn-primary' %>
          <%= link_to '+ My Queue', '#', class: 'btn btn-default' %>
        </div>
      </div>
    </div>
  </div>
</article>
