<section class='row' id='top-header'>
  <h1 class='col-md-2'>
    <%= link_to 'MyFLiX', root_path %>
  </h1>

  <ul class='col-md-4 clearfix'>
    <li><%= link_to 'Videos', home_path %></li>
    <li><%= link_to 'My Queue', my_queue_path %></li>
    <li><%= link_to 'People', '#' %></li>
  </ul>

  <%= form_tag search_videos_path, class: 'col-md-5 navbar-form' do %>
    <div class='form-group'>
      <%= text_field_tag 'search_term', nil, class: 'form-control', placeholder: 'Search for videos here' %>
    </div>
    <button class='btn btn-default', type='submit'>Search</button>
  <% end %>

  <% if current_user %>
    <div class='pull-right' id='user_links'>
      <ul>
        <li class='dropdown'>
          <%= link_to "Welcome, #{current_user.full_name}", '#', role: 'dlabel', 'data-toggle' => 'dropdown', class: 'dropdown-toggle', 'data-target' => '#' %>
          <ul class='dropdown-menu', role='menu', aria-labelledby='dlabel'>
            <li><%= link_to 'Account', '#' %></li>
            <li><%= link_to 'Plan and Billing', '#' %></li>
            <li><%= link_to 'Sign Out', sign_out_path %></li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

</section>
