%section#top-header.row
  %h1.col-md-2
    = link_to "MyFLiX", home_path 
  - if current_user
    %ul.col-md-4.clearfix
      %li= link_to "Videos", home_path
      %li= link_to "My Queue", my_queue_path
      %li= link_to "People", people_path
    = form_tag search_videos_path, method: "get", class: "span5 for-search" do
      .control-group
      = text_field_tag :title, params[:search], name: :title, class: "search-query", placeholder: "Search for videos here"
      = submit_tag "Search", class: "btn btn-default", name: nil
    #user_links.pull-right
      %ul
        %li.dropdown
          %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
            Welcome, #{current_user.full_name}
            %b.caret
          %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
            %li
              = link_to "Invite a Friend", new_invitation_path
              = link_to "Admin Section", new_admin_video_path if current_user.admin?
              = link_to "Edit Profile", edit_user_path(current_user)
              = link_to "Plan and Billing", billing_path
              = link_to "Sign Out", logout_path
