%section#top-header.row
  %h1.col-md-2
    = link_to "MyFLiX"
  %ul.col-md-4.clearfix
    %li= link_to "Videos"
    %li= link_to "My Queue"
    %li= link_to "People"


  = form_tag('/search', method: "get", class: "col-md-5 navbar-form") do
    .form-group
      = text_field_tag :search_item, nil, placeholder: 'Search for videos here', class: "form-control"
    = button_tag "Search", class: "btn btn-dafault"

  = if logged_in?
    #user_links.pull-right
      %ul
        %li.dropdown
          %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
            =current_user.name
            %b.caret
          %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
            %li
              = link_to "Account", edit_user_path(current_user)
              %a(href="#") Plan and Billing
              = link_to "Sign Out", logout_path
