%section#top-header.row
  %h1.col-md-2
    = link_to "MyFLiX"
  %ul.col-md-3.clearfix
    %li= link_to "Videos", home_path
    %li= link_to "My Queue"
    %li= link_to "People"
  
  
  .col-md-5.navbar-form
    .form-group
      = form_tag('/videos/search') do
        .control-group
          = text_field_tag 'search_term', nil, placeholder: 'Search'
          = submit_tag 'Search now', class: 'btn'  


  #user_links.pull-right
    %ul
      %li.dropdown
        %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
          Welcome, Philip J. Fry
          %b.caret
        %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
          %li
            %a(href="#") Account
            %a(href="#") Plan and Billing
            %a(href="#") Sign Out
