%section#top-header.row
  %h1.col-md-2
    = link_to "MyFLiX", root_path
  - if logged_in?
    %ul.col-md-4.clearfix
      %li= link_to "Videos", videos_path
      %li= link_to "My Queue", my_queue_path
      %li= link_to "People"
    %form_tag.col-md-5.navbar-form

    .col-md-5.navbar-form
      =form_tag(search_videos_path, method: "get") do
        =text_field_tag('query', nil, placeholder: 'Enter your search query')
        =submit_tag('Search')

    #user_links.pull-right
      %ul
        %li.dropdown
          %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
            Welcome, #{current_user.fullname}
            %b.caret
          %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
            %li
              %a(href="#") Account
              %a(href="#") Plan and Billing
              = link_to "Sign Out", signout_path
