%section#top-header.row
  %h1.col-md-2
    = link_to "MyFLiX"
  - if logged_in?
    %ul.col-md-4.clearfix
      %li= link_to "Videos", videos_path
      %li= link_to "My Queue", my_queue_path
      %li= link_to "People", people_path
    = form_tag(search_videos_path, method: "get", class: 'col-md-5.navbar-form') do 
      = text_field_tag(:q, nil, placeholder: "Search for video titles here.", class: 'form-control')
      = submit_tag("Search", class: 'btton btn btn-default')
    #user_links.pull-right
      %ul
        - if logged_in? && @user != nil
          %li.dropdown
            %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
              = @user.fullname
              %b.caret
            %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
              %li
                %a(href="#") Account
                %a(href="#") Plan and Billing
                %a= link_to("Logout", logout_path)