%section#top-header.row
  %h1.col-md-2
    - if logged_in?
      = link_to "MyFLix", home_path
    - else
      = link_to "MyFlix", root_path
  - if logged_in?
    %ul.col-md-4.clearfix
      %li= link_to "Videos", home_path
      %li= link_to "My Queue"
      %li= link_to "People"
    = form_tag search_videos_path, method: "get", class: "col-md-5 navbar-form" do
      .form-group
        = text_field_tag :search_term, nil, placeholder: 'Search for videos here', class: "form-control"
        = submit_tag "Search", name: nil, class: "btn btn-default"
    #user_links.pull-right
      %ul
        %li.dropdown
          %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
            Welcome, Philip J. Fry
            %b.caret
          %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
            %li
              %a(href="#") Account
              %a(href="#") Plan and Billing
              = link_to "Sign Out", logout_path
