%section#top-header.row
  %h1.col-md-2
    = link_to "MyFLiX", logged_in? ? home_path : root_path
  %ul.col-md-4.clearfix
    %li= link_to "Videos", videos_path
    %li= link_to "My Queue", my_queue_path
    %li= link_to "People", people_path
  = form_tag search_videos_path, method: "get", class: "span5 for-search" do
    %input.search-query(name="search" type="text")
    %button.btn(type="submit") Search
  - if logged_in?
    #user_links.pull-right
      %ul
        %li.dropdown
          %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
            = "Welcome, #{current_user.fullname}"
            %b.caret
          %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
            %li
              = link_to "Invite a Friend", invite_path
              = link_to "Account"
              = link_to "Plan and Billing"
              = link_to "Sign Out", logout_path
