%section#top-header.row
  .container-fluid
    %h1.col-md-2
      = link_to "MyFLiX", :root
    %span= link_to "Videos"
    %span= link_to "My Queue"
    %span= link_to "People"
    = form_tag search_videos_path, class: "col-md-5 navbar-form", method: 'get' do
      .form-group
        = text_field_tag('name', 'Search for videos here', class: 'form-control')
        = submit_tag("search", class: 'btn btn-default')
    #user_links.pull-right
      %ul
        %li.dropdown
          %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
            Welcome, Dito
            %b.caret
          %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
            %li
              %a(href="#") Account
              %a(href="#") Plan and Billing
              %a(href="#") Sign Out
