%section#top-header.row
  %h1.col-md-2
    = link_to "MyFLiX"
  - if current_user 
    %ul.col-md-4.clearfix
      %li= link_to "Videos", home_path
      %li= link_to "My Queue", my_queue_path
      %li= link_to "People"
    = form_tag search_videos_path, class: "navbar-form col-md-5" do
      .form-group
        = text_field_tag :search_term, nil, class: 'form-control', placeholder: 'Search for videos here'
        = submit_tag 'Search', class: 'button btn btn-default'
    #user_links.pull-right
      %ul
        %li.dropdown
          %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
            Welcome, #{current_user.full_name}
            %b.caret
          %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
            %li
              %a(href="#") Account
              %a(href="#") Plan and Billing
              = link_to "Sign Out", sign_out_path
