%nav.navbar{role: "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#collapsed-navbar", "data-toggle" => "collapse", type: "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: "/home"} MyFLiX
    / Collect the nav links, forms, and other content for toggling
    #collapsed-navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to "Videos"
        %li= link_to "My Queue"
        %li= link_to "People"

      / PUT SEARCH HERE
      = form_tag search_videos_path, method: "get", class: "navbar-form navbar-left" do
        = text_field_tag :search_term, nil, placeholder: "Search", class: "form-control"
        %button.btn.btn-default Submit

      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a.dropdown-toggle#user-dropdown{"data-toggle" => "dropdown", href: "#"}
            WELCOME, {USER NAME}
            %b.caret
          %ul.dropdown-menu
            %li
              %a{href: "#"} Account
            %li
              %a{href: "#"} Plan & Billing
            %li
              %a{href: "#"} Sign Out    
