%section.invite.container
  .row
    .col-sm-10.col-sm-offset-1
      = form_tag invitations_path, class: "sign_in" do
        %header
          %h1 Invite a friend to join MyFlix!
        %fieldset
          .form-group
            = label_tag :friend_name, "Friend's Name"
            .row
              .col-sm-4
                = text_field_tag :friend_name
          .form-group
            = label_tag :friend_email, "Friend's Email Address"
            .row
              .col-sm-4
                = email_field_tag :friend_email
          .form-group
            = label_tag :invitation_message, "Invitation Message"
            .row
              .col-sm-6
                = text_area_tag :invitation_message
        %fieldset.form-group.action
          %input(type="submit" value="Send Invitation" class="btn btn-default")