%section.invite.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for @invitation do |f|
        .invite
          %header
            %h1 Invite a friend to join MyFlix!
          %fieldset
            = f.alert_message "Please correct the following errors:"
            .form-group
              = f.label :full_name, "Friend's Name"
              .row
                .col-sm-4
                  = f.text_field :full_name, hide_label: true, class: "form-control"
            .form-group
              = f.label :email, "Friend's Email Address"
              .row
                .col-sm-4
                  = f.text_field :email, hide_label: true, class: "form-control"
            .form-group
              = f.label :message, "Invitation Message"
              .row
                .col-sm-6
                  = f.text_area :message, value: "Please join this really cool site!", rows: 6,hide_label: true,  class: "form-control"
          %fieldset.form-group.action
            %input(type="submit" value="Send Invitation" class="btn btn-default")