%article.video_category
  %header
    %h3= link_to "TV Comedies"
  .videos.row
    - 6.times do
      .video.col-sm-2
        = link_to "", nil do
          %img(src="/tmp/#{['futurama', 'south_park', 'family_guy'].sample}.jpg")

%article.video_category
  %header
    %h3= link_to "TV Dramas"
  .videos.row
    - 6.times do
      .video.col-sm-2
        %img(src="/tmp/#{['futurama', 'south_park', 'family_guy'].sample}.jpg")

%article.video_category
  %header
    %h3= link_to "Reality TV"
  .videos.row
    - 6.times do
      .video.col-sm-2
        %img(src="/tmp/#{['futurama', 'south_park', 'family_guy'].sample}.jpg")
