!!! 5
%html(lang="en-US")
  %body
    %section.content.clearfix
      %p= " #{@user.full_name}  "
      %p= "You requested to reset your password.  PLease click on the link below  "
      %p= link_to "Reset my password", password_reset_url(@user.token)
      %p= "- MyFlix Team.  "
    
    %footer
      &copy 2013 MyFLiX
