!!! 5
%html(lang="en-US")
  %body
    %p Hello, #{@friend.full_name}! #{@friend.user.full_name} loves MyFLix so much that you've been invited to join! MyFLix is the nation's premiere DVD and Blu-ray rental service, and we are certain that you will love it!
    %p
    %p Here is #{@friend.user.full_name}'s personal message:
    %p
    "#{@friend.message}"
    %p
    %p Please click on this link to join: #{link_to "Sign Me Up!", invited_url(@token)}