-cover_width = 166
-cover_height = 236

-if signed_in?
  -@categories.each do |cat|
    %article.video_category
      %header
        %h3= link_to cat.name, category_path(cat)
      .videos.row
        - cat.recent_videos.each do |video|
          .video.col-sm-2
            = link_to video_path(video), nil do
              %img{src: video.sm_cover_locn, width: "#{cover_width}", height: "#{cover_height}"}
-else
  %section.site_title
    %h1
      Unlimited Movies for Only 9.99 a Month.
      = link_to "Sign Up Now!", register_path
    %p.sign_up
    %p.sign_in
      Have an account? Please
      = link_to "Sign In", signin_path
