%section.admin_add_video
  .container
    .row
      .col-md-10.col-md-offset-1
        = bootstrap_form_for [:admin, @video], html: { class: "form-horizontal" } do |f|
          %ul.nav.nav-tabs
            %li
              %a(href="") Recent Payments
            %li.active
              %a(href="") Add a New Video
          %br
          %fieldset
            .form-group
              .control-label.col-sm-3 
                = f.label :title, "Title"
              .col-sm-3
                = f.text_field :title, hide_label: true, class: "form-control"
            .form-group
              .control-label.col-sm-3
                = f.label :category, "Category"
              .col-sm-6
                = f.select :category_id, options_for_category, hide_label: true, class: "form-control"
            .form-group
              .control-label.col-sm-3
                = f.label :description, "Description"
              .col-sm-6
                = f.text_area :description, rows: 8, hide_label: true, class: "form-control"
            .form-group
              .control-label.col-sm-3 
                = f.label :large_cover, "Large Cover"
              .col-sm-6
                %col.btn.btn-file
                  = f.file_field :large_cover, hide_label: true, class: "form-control"
            .form-group
              .control-label.col-sm-3
                = f.label :small_cover, "Small Cover"
              .col-sm-6
                %col.btn.btn-file
                  = f.file_field :small_cover, hide_label: true, class: "form-control"

          %fieldset.actions.form-group
            .col-sm-6.col-md-offset-3
              %input(type="submit" value="Add Video" class="btn btn-default")