%section.admin_add_video
  .container
    .row
      .col-md-10.col-md-offset-1
        = bootstrap_form_for [:admin, @video], html: {class: "form-horizontal"} do |f|
          %ul.nav.nav-tabs
            %li
              %a(href="/ui/admin_views_payments") Recent Payments
            %li.active
              %a(href="") Add a New Video
          %br          
          %fieldset.form-group
            = f.text_field :title, class: 'col-md-3'
            = f.collection_check_boxes :category_ids, Category.all, :id, :name, label: 'Categories (you may select more than one)' do |cb|
              - cb.label(class: 'checkbox-inline') {cb.check_box(class: 'checkbox') + cb.text}
            = f.text_area :description, rows: 8, class: 'col-md-6'
            = f.file_field :large_cover, label: "Large Cover", class: "form-control"
            = f.file_field :small_cover, label: "Small Cover", class: "form-control"
          %fieldset.actions.form-group
            = f.submit "Add Video", class: "btn btn-default"
