%section.admin_add_video
  .container
    .row
      .col-md-10.col-md-offset-1
        = bootstrap_form_for [:admin, @video], style: :horizontal, left: "col-sm-3", right: "col-sm-6" do |f|
          %ul.nav.nav-tabs
            %li
              = link_to "Recent Payments", admin_payments_path
            %li.active
              %a(href="") Add a New Video
          %br
          %fieldset
            = f.text_field :title
            = f.select :category_id, options_for_select(Category.all.map{|category|[category.name, category.id]})
            = f.text_area :description, rows: 8
            = f.file_field :large_cover, label: "Large Cover", class: "btn btn-default"
            = f.file_field :small_cover, label: "Small Cover", class: "btn btn-default"
            = f.text_field :video_url, label: "Video URL"

          %fieldset.actions.form-group
            .col-sm-6.col-sm-offset-3
              %input(type="submit" value="Add Video" class="btn btn-success active")
