%section.admin_add_video
  .container
    .row
      .col-md-10.col-md-offset-1
        = bootstrap_form_for @video, url: admin_videos_path, layout: :horizontal, control_col: "col-sm-6" do |f|
          %ul.nav.nav-tabs
            %li
              %a(href="") Recent Payments
            %li.active
              %a(href="") Add a New Video
          %br
          %fieldset
            = f.text_field :title, control_col: "col-sm-3"
            = f.select :category_id, options_for_select(Category.all.collect { |category| [category.name, category.id] }), include_blank: true
            = f.text_area :description, rows: 8
            = f.file_field :large_cover, type: "file", class: "form-control"
            = f.file_field :small_cover, type: "file", class: "form-control"
            = f.text_field :video_url, class: "span3", label: "Video URL"
            
            %fieldset.actions.form-group
              .col-sm-6.col-md-offset-2
                %input(type="submit" value="Add Video" class="btn btn-default")
