%section.admin_add_video
  .container
    .row
      .col-md-10.col-md-offset-1
        = bootstrap_form_for [:admin, @video], layout: :horizontal, label_col: 'col-sm-3' do |f|
          %ul.nav.nav-tabs
            %li
              %a(href="/ui/admin_views_payments") Recent Payments
            %li.active
              %a(href="") Add a New Video
          %br
          %fieldset
            = f.text_field :title, control_col: 'col-sm-3'
            = f.select :category_id, options_for_select(Category.all.map {|category| [category.name, category.id]}), control_col: 'col-sm-6'
            = f.text_area :description, rows: 8, control_col: 'col-sm-6'
            = f.file_field :large_cover, label: 'Large Cover', control_col: 'col-sm-6', class: 'btn btn-file'
            = f.file_field :small_cover, label: 'Small Cover', control_col: 'col-sm-6', class: 'btn btn-file'
            / = f.text_field :video_url, label: 'Video URL', control_col: 'col-sm-6'
          %fieldset.actions.form-group
            .col-sm-6.col-md-offset-3
              = f.submit 'Add Video'
