%section.admin_add_video
  .container
    .row
      .col-md-10.col-md-offset-1
        = bootstrap_form_for [:admin, @video], html: { class: "form-horizontal"}  do |f|
          %ul.nav.nav-tabs
            %li
              %a(href="/ui/admin_views_payments") Recent Payments
            %li.active
              %a(href="") Add a New Video
          %br
          %fieldset
            = f.text_field :title
            = f.select :category_id, options_for_select(Category.all.map { |category| [category.name, category.id]})
            = f.text_area :description
            = f.file_field :large_cover, class: "btn btn-file"
            = f.file_field :small_cover, class: "btn btn-file"
            = f.text_field :video_url
            = f.submit
        
