!!! 5
%html(lang="en-US")
  %head
    %title MyFLiX - a video on demand service
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = csrf_meta_tag
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    %link{href: 'http://fonts.googleapis.com/css?family=Droid+Sans|Josefin+Slab:600', rel: "stylesheet", type: "text/css"}
    
  %body
    %header
      = render 'shared/navigation'
    %section.content.clearfix
      = render 'shared/messages'
      = yield
    %footer
      &copy A 
      = link_to "Cullen Jett", "http://www.cullenjett.com"
      Joint, 2014
